body {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  padding: 15px;
  background-color: #f5f5f5; 
}

h1, h3 {
  margin: 16px 0;
}

#add-recipe-form input[type="text"],
#add-recipe-form textarea {
  display: block;
  width: 37%;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#add-recipe-form button {
  background-color: #0080ff; 
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-style: italic;
}

#button_delete {
  background-color: #eb3737;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-style: italic;
}

#recipe-list ul {
  list-style-type: none;
  padding-left: 2%;
  padding-right: 20%;
}

#recipe-list li {
  margin-bottom: 3%;
}